{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["@babel/proposal-class-properties"],
    [ "import-static-files", 
      {
        "baseDir": "/vendor"
      }
    ]
  ]
}